<h1 class="text-center">Top 25 Trending Topics in Dubai</h1>

<section class="topics-container">
  <ol *ngIf="!loading && !errorMessage">
    <li *ngFor="let trend of trends; let i = index" class="topic">
      <a [routerLink]="['/topic']" [queryParams]="{q: trend.query}">{{trend.name}}</a> <br/>
      <small *ngIf="trend.tweet_volume !== null">{{nFormatter(trend.tweet_volume, 1)}} Tweets</small>
    </li>
  </ol>
  <div class="text-center" *ngIf="loading">
    <img src="assets/loader.gif" alt="loading..." />
  </div>
  <div class="text-center error-text" *ngIf="!loading && !!errorMessage">
    {{errorMessage}}
  </div>
</section>

