.topics-container {
  background-color: #fff;
  border: 1px solid #e6ecf0;
  padding: 12px;
  max-width: 480px;
  margin: 0 auto;
  font-size: 16px;
}

.topic {
  margin-bottom: 12px;
}

a,
a:hover,
a:focus,
a:active {
  color: #0084B4;
}
