:host {
  display: block;
}

.tweet-container {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  color: #1c2022;
  display: block;
  font-size: 16px;
  max-width: 480px;
  margin: 0 auto 4px;
  padding: 20px;
}

.screen-name {
  color: #697882;
  font-size: 14px;
}

.tweet-text {
  margin-top: 12px;
}

.date-time,
.meta-data {
  color: #697882;
  font-size: 14px;
  margin-top: 4px;
}

.meta-data {
  margin-top: 12px;
}

.tweet-container.new {
  animation: drop 500ms;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
